.git
.gitignore
.secrets
.vs
.vscode

Library
Temp
Obj
Builds
Logs
UserSettings
MemoryCaptures
Recordings

*.csproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

sysinfo.txt
*.apk
*.aab
*.unitypackage
*.app
